body{
  font-family: 'Oxygen', sans-serif;
}

h1,h3,h4,h5{
  font-family: 'Poppins', sans-serif;
}

:root{
  --main-color: rgb(44, 188, 189);
  --sec-color: white;
}

.tc-main{
  color: var(--main-color);
}

/* NAVBAR */

.navbar-brand{
  font-weight: 600;
}
.nav-custom{
  text-decoration: none;
  color: black !important;
}

.link-custom:hover{
  color: var(--main-color);
  transform: scale(1.1);
  transition: 2s all ease-in-out;
}

a{
  color: black;
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .button-header{
      text-decoration: none;
      background-color: var(--main-color);
      padding: 10px;
      border-radius: 2px;

  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

  .bg-info{
    background: var(--main-color);
    background: linear-gradient(90deg, var(--main-color), rgb(161, 255, 255) 100%);
  }

  .button-custom{
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-radius: 2px;

}

/* CARD STAFF */
.card-custom:hover{
  transform: scale(1.1);
  transition: 0.5s all ease-in-out;
}

/* GO UP BUTTON */
